
body {
	margin-left:20px;
	margin-right:20px;
	border: 1px dotted black;
	padding: 2px;
}

div {
	border: 1px dotted black;
	padding: 2px;
	margin-bottom: 2px;
}

canvas {
	border: 1px dotted black;
	padding: 2px;
	margin-bottom: 2px;
}

